/* Tag selectors */

body {
  background: linear-gradient(#af68ea, #6462e7);
  background-repeat: no-repeat;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  margin: 0;
}

a {
  color: hsl(237, 12%, 33%);
  text-decoration: none;
}

input {
  display: none;
}

details {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: hsl(240, 5%, 91%);
  cursor: pointer;
  color: hsl(237, 12%, 33%);
  display: flex;
  font-size: 15px;
  list-style: none;
  margin-top: 20px;
  padding-bottom:15px;
  min-height: 30px;
  position: relative;
  width: 350px;
  color: hsl(240, 6%, 50%);
  transition: 0.5s;
  font-size: 12px;
}

summary {
  color: black;
  font-size: 15px;
  list-style: none;
  margin-bottom: 15px;
}

/* Class selectors */

.main {
  border-radius: 20px;
  background-color: white;
  display: flex;
  height: 510px;
  margin: 130px auto;
  width: 920px;
  position: relative;
}

.left-part {
  background-image: url(images/bg-pattern-desktop.svg);
  background-position: -585px -300px;
  background-repeat: no-repeat;
  flex: 1;
  overflow: hidden;
}

.illustration {
  position: relative;
  left: -93px;
  top: 70px;
  overflow: hidden;
}

.box {
  position: absolute;
  left: -93px;
  top: 200px;
  overflow: hidden;
}

.right-part {
  flex: 1;
}

.questions {
  position: relative;
}

summary::before {
  content: url(images/icon-arrow-down.svg);
  float: right;
  position: absolute;
  right: 10px;
  top: -4px;
}

details[open] summary {
  font-weight: bold;
}

details[open] summary::before {
  transform: rotate(180deg);
}

/* Media selectors */

@media all and (max-width:400px) {
  body {
    width: 375px;
  }
  .main {
    flex-direction: column;
    height: 700px;
    margin: 145px auto;
    width: 325px;
  }
  .left-part {
    background-image: url(images/bg-pattern-mobile.svg);
    background-position: 40px 0;
    flex: none;
    height: 140px;
  }
  .illustration {
    content: url(images/illustration-woman-online-mobile.svg);
    overflow: visible;
    position: absolute;
    left: 13px;
    top: -108px;
  }
  .box {
    display: none;
  }
  .right-part {
    flex: none;
  }
  h1 {
    text-align: center;
  }
  details {
    margin: 20px auto 0 auto;
    width: 305px;
  }
}
